.domain {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.domain-options {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}