.domain-viewer {
  display: flex;
  background-color: #272727ff;
  overflow: hidden;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  flex-flow: column;
}

.vert-bar {
  height: 100%;
  width: 5px;
  background-color: grey;
  flex: 0 0 auto;
  cursor: ew-resize;
}

.horiz-bar {
  width: 100%;
  height: 5px;
  background-color: grey;
  flex: 0 0 auto;
  cursor: ns-resize;
}